
.navbar-nav>.open>a:hover {color: white !important;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-color: #fff !important;color:black !important;}
.navbar-nav>.open>a {background-color: #6b1d0d !important;}
.dropdown-menu{background-color: #6b1d0d !important}
.dropdown-menu>li>a{color: #fff !important}
.navbar-nav>li:hover{background-color: #6b1d0d !important;color: #fff}
.navbar-toggle{background-color: #6b1d0d !important}
.navbar-header>a:hover{background-color: #6b1d0d !important};
.ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
h1{
	margin-left: 30px;
}
#headerMenuSystem{
	margin-top: 30px;
	float: right;
}
.item{
    text-align: center;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
a {
	color: black !important;
}
body {
	background-color: #cbcbcb !important;
	margin: 0;
}
html{
	margin-top: 0px !important;
}
h2 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
h3{
	font-size: 15px !important;
}
.title{
	color: black !important;
}
.main{
	max-width: 960px;
	height: 100%;
	background-color: #dfdfdf !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.jumbotron {
	background-color: #fff;
}
.container {
	background-color: #fff;
}
.footer{
	height: 150px;
	bottom: 0px;
	border-top: 1px #d4d4d4 solid;
	padding-top: 10px;
	text-align: center;
	background-color:#6b1d0d;
	color: white;
}
.top-banner{
	padding-bottom: 10px;
}
.navbar-inverse{
	background-color: transparent !important;
}
.navbar {
	border: none !important;
}
.form-control-search{
	border-radius: 14px !important;
	height: 30px !important;
}
.homepage{
	min-height: 250px;
	background: white;
}
.imagenew{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.col-md-4{
	padding-left:50px;
	padding-top: 20px;
	padding-right: 30px; 
}
.carousel-caption{
	position: inherit !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	color: black !important;
	text-shadow: none !important;
	font-size: 12px;
}
.myslider{
	border-style: solid;
    border-color: #6b1d0d;
    border-width: 1px;
}
.carousel-control{
	width: 5% !important;
	background-image: none !important ;
}
.glyphicon:hover {
	color: #428bca;
}
.more-link{
	color: black;
}
.text-center{
	text-align: center;
	margin-bottom: 20px;
}
.slidehome {
	margin-bottom: 20px;
}
.navbar {
	margin-bottom: 0px !important;
}
.page-header {
	margin: 30px 0 20px !important;
}
#bannerSlider{
	padding-left: 0px !important;
	margin-left: 0px !important;
	width: 960px;
	height: 300px;
}
.col-md-4{
	padding-right: 25px !important;
	padding-left: 25px !important;
	text-align: left;
}
.menu-item{
	border-radius: 10px ;
	padding-left: 3px;
	padding-right: 3px;
	color: white !important;
}
.navbar-inverse .navbar-nav>.active>a {
	background-color: #6b1d0d !important;
}
.menu-bar-top{
	background-color: #ee4522;
	
}
.navbar-inverse, .navbar-brand, .navbar-inverse, .navbar-nav>li>a{
	color: white !important;
}
#newsSlider, #introSlider {
	background-color: white;
}
.item {
	width: 100% !important;
}
.carousel {
	margin-top: 0px !important;
}
.container{overflow:hidden;padding:10px 0;}
.cycle-slideshow img{width:auto;height:auto;}
.cycle-slideshow .span2{float:none;}
.cuslogo{max-width: 960px !important;margin-top: 10px;}
/*padding tricks
nb-visible-item X gutter width
*/
/*@media (min-width: 1200px) {
.cycle-slideshow{padding-right:180px;}
}
@media (min-width: 768px) and (max-width: 1199px)  {
.cycle-slideshow{padding-right:120px;}
}

@media (max-width: 767px) {
.cycle-slideshow{padding-right:0px;}
}*/

/*css for menu*/
ul.navbar-nav > li,
.navbar-header,
.navbar-brand {
	border-radius:0px 0px 0px 0px;
	transition:all 600ms;
	-moz-transition:all 600ms;
	-ms-transition:all 600ms;
	-o-transition:all 600ms;
	-webkit-transition:all 600ms;
}
ul.navbar-nav > li:hover,
.navbar-header,
.navbar-brand  {
	border-radius:0px 0px 0px 0px;
}
ul.navbar-nav > li:hover > ul {
	display:block;
}
ul.navbar-nav > li > ul > li a {
	width:200px;
        background-color:#6b1d0d !important;
	transition:all 300ms;
	-moz-transition:all 300ms;
	-ms-transition:all 300ms;
	-o-transition:all 300ms;
	-webkit-transition:all 300ms;
}
.nav > li > a {
	padding: 15px 10px !important;
}
.container-fluid {
	margin-left:0px !important;
	padding-left:0px !important;
}
/*finish css for menu*/

a {
	color:#000 !important;
	text-decoration:none !important;
	transition:all 500ms !important;
	-moz-transition:all 500ms !important;
	-ms-transition:all 500ms;
	-o-transition:all 500ms !important;
	-webkit-transition:all 500ms !important;
}
a:hover {
	color:#F60 !important;
}
.menu-bar-top a {
	font-size:14px !important;
}