/* CSS Document */
body{
	background-image:url(../images/background.jpg);
	background-repeat:repeat;
	background-color:#FFF;
}
#header {
	position:relative;
}
.relative {
	position:relative;
}
.left {left:0px;}
.right {right:0px;}
	/*Header*/
#menu {
	width:100%;
	height:60px;
	line-height:60px;
	/*overflow:hidden;*/
}
	/*logo*/
#menu .logo {
	width:250px;
	float:left;
	height:60px;
}
#menu .logo img {
	width:250px;
	height:auto;
	margin-top:-20px;
}
	/*finish css for logo*/
	/*css for menu*/
#menu .menu {
	/* float:right; */
	width:auto;
	height:60px;
}
#menu .menu ul {
	
}
#menu .menu > ul > li {
	list-style:none;
	padding:0px 20px;
	display:inline;
	position:relative;
	transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	-webkit-transition: all 500ms;
}
#menu .menu > ul > li > a {
	display:inline;
	color:#999;
	width:auto;
	min-width:90px;
	text-decoration:none;
	line-height:60px;
	padding:5px 0px;
	white-space:nowrap;
	transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	-webkit-transition: all 500ms;
}
#menu .menu > ul > li:hover,
#menu .menu > ul > li.active,
#menu .menu > ul > li.current-menu-parent,
#menu .menu > ul > li > a.active {
	color:#F60;
	/*
	background-image:url(../images/background-menu-item-hover.png);
	background-repeat:repeat;
	background-position:bottom left;
	*/
}
#menu .menu > ul > li:hover > a,
#menu .menu > ul > li.active > a,
#menu .menu > ul > li.current-menu-parent > a,
#menu .menu > ul > li > a.active {
	color:#F60;
	border-bottom:3px solid #F60;
}
#menu .menu ul li ul,
#menu .menu ul li ul li ul,
#menu .menu ul li ul li ul li ul{
	display:none;
	position:absolute;
	z-index:99999;
}
		/*menu level 2*/
#menu .menu > ul > li:hover ul {
	display:block;
}
#menu .menu > ul > li:hover ul li ul  {
	display:none;
}
#menu .menu > ul > li > ul {
	background-color:transparent;
	background-image:url(../images/background-menu-item-hover.png);
	background-position:top left;
	background-repeat:repeat;
}
#menu .menu > ul > li > ul > li {
	/*
	list-style:none;
	padding:0px 10px;
	width:200px;
	height:40px;
	color:#CCC !important;
	line-height:40px;
	background-color:#162c40 !important;
	border-top: 1px solid #366999;
	border-bottom: 1px solid #162c40;
	border-left: 1px solid #162c40;
	*/
	transition:all 500ms;
	-moz-transition:all 1000ms;
	-ms-transition:all 1000ms;
	-o-transition:all 1000ms;
	-webkit-transition:all 1000ms;
	background-image:url(../images/background-menu-item-hover.png);
	background-position:top left;
	background-repeat:repeat;
}
#menu .menu > ul > li > ul > li:hover {
}
#menu .menu > ul > li > ul > li > a {
	color:#FFF;
	text-decoration:none;
	height:35px !important;
	line-height:35px !important;
	position:relative;
	width:350px;
}
#menu .menu > ul > li > ul > li > a:hover {
	color:#000;
}
		/*finish css for menu level 2*/
	/*finish css for menu*/
	/*css for slider*/
#content .slider {
	position:relative;
	width:100%;
}	
#content .slider .item img {
	width:100%;
	height:300px;
}
#main-slider {
}
#content .slider .slider-shadow {
	width:100%;
	text-align:center;
	background-image:url(../images/slider-shadow.png);
	background-repeat:no-repeat;
	background-position:top center;
	height:20px;
}
.carousel-control {
	background:none !important;
	background-image:none !important;
	background-color:transparent !important;
}
.carousel-indicators {
	width:50%;
	margin-bottom:0px;
}
.carousel-indicators li {
	background-color:#9C3;
	border-radius:50%;
	width:12px;
	height:12px;
}
.carousel-indicators li.active {
	background-color:#F00;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev {
	margin-left: -85px;
	border-radius:0px 10px 10px 0px;
}
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next {
	margin-right: -85px;
	border-radius:10px 0px 0px 10px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	width:40px;
	height:40px;
	line-height:40px;
	background-color: #CCC;
	line-height: 40px;
	color:#F00;
	font-size:16px;
	font-weight:100;
}
.carousel-control .glyphicon-chevron-left:hover, 
.carousel-control .glyphicon-chevron-right:hover, 
.carousel-control .icon-prev:hover, 
.carousel-control .icon-next:hover {
	background-color:#999;
}
img.slider-control {
	position:absolute;
	opacity:0.5;
	top:50%;
}
img.slider-control:hover {
	opacity:1;
} 
img.icon-prev {
	left:-30px;
}
img.icon-next {
	right:-30px;
}
.cuslogo img {
	width:150px;
	height:100px;
}

	/*finish css for slider*/
	/*css for module search + language button.*/
.search-language {
	float:right;
	margin-top:20px;
}
.search-language img {
}
.search-language img:hover {
	opacity:1;
}

.search-language input[type=search] {
	float:right;
	margin-right:10px;
	width:200px;
	height:30px;
	border:0px;
	border-bottom:1px solid #EAEAEA;
	padding:0px 10px;
	transition:all 500ms;
	-moz-transition:all 500ms;
	-ms-transition:all 500ms;
	-o-transition:all 500ms;
	-webkit-transition:all 500ms;
}
.search-language input[type=search]:focus {
	width:300px;
}
.search-language input[type=submit] {
	float:right;
	width:40px;
	height:30px;
	border-radius:0px 10px 10px 0px;
	border:1px solid #CCC;
	background-color:#FFF;
	background-image:url(../images/search-icon.png);
	background-repeat:no-repeat;
	background-position:center 5px;
	margin-right:30px;
}
.icon-language { 
	float:right;
	margin-left:10px;
}
	/*finsih css for header.*/
	/*breadcumbs*/
.breadcrumb{
	background-image: url(../images/background-menu-item-hover.png);
	background-position: top left;
	background-repeat: repeat;
	font-size:12px;
	line-height:15px;
}
.breadcrumb {
	color:#FFF;
}
.breadcrumb a{
	color:#FFF;
}
	
	/*finish css for breadcumbs*/
	
	/*css for content*/
	/* icon for ... */
div.icon-tagss,
div.icon-category,
div.icon-article,
div.icon-searchs,
div.icon-author {
	width:100%;
	position:relative;
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:40px;
}
div.icon-tagss .content, 
div.icon-category .content,
div.icon-article .content,
div.icon-searchs .content,
div.icon-author .content {
	position:absolute;
	left:40px;
	top:0px;
}

div.icon-tagss {
	background-image:url(../images/tag.png);
}
div.icon-category {
	background-image:url(../images/category.png);
}
div.icon-article {
	background-image:url(../images/content_.png);
}
div.icon-author {
	background-image:url(../images/author.png);
}
div.icon-searchs {
	background-image:url(../images/search.png);
}
	/*finish icon for ... */
	
	/*css for id content*/
#content {
	overflow:hidden;
}
.featured-image {
	width:300px;
	height:150px;
}
.float-right {
	float:right !important;
}
.float-left {
	float:left !important;
}

#content {
	width:1100px;
	margin:0px auto;
	position:relative;
}
#content .box-new {
	width:100%;
	height:auto;
	margin-bottom:10px;
}
#content .box-new .header {
	width:100%;
	height:30px;
	line-height:30px;
	background-image:url(../images/backgound-header-box-new.png);
	background-repeat:repeat;
	background-position:top left;
}
#content .box-new .header .title {
	color:#FFF;
	width:70%;
	float:left;
	font-weight:bold;
	padding-left:30px;
	background-image:url(../images/backgound-left-header-box-new.png);
	background-repeat:no-repeat;
	background-position:left top;
}
#content .box-new .header .title  a{
	text-decoration:none;
	color:#FFF;
}
#content .box-new .header .title  a:hover{
	color:#000;
}
#content .box-new .header .background-right-box-news {
	width:30%;
	float:right;
	height:30px;
	background-image:url(../images/backgound-right-header-box-new.png);
	background-repeat:no-repeat;
	background-position:right top;
	padding: 10px 10px !important;
}
#content .box-new .body {
	margin-top:10px;
	padding:0px 30px;
}
#content .box-new .body .item-news {
	width:320px;
	height:380px;
	overflow:hidden;
	min-height:100px;
	padding:10px 10px;
	border-radius:5px 5px 5px 5px;
	padding-bottom:20px;
	overflow:hidden;
	position:relative;
	margin-left:22px;
	margin-right:10px;
	display:inline block;
	float:left;
}
#content .box-new .body .item-news:hover {
	background-color:#FFF;
	border:1px solid #999;
	box-shadow:0px 2px 10px;
}
#content .box-new .body .item-news.active-1  {
	border:1px solid #999;
}
#content .box-new .body .item-news.active-1:hover {
	border:none;
	background-color:#FFF;
}
#content .box-new .body .item-news img {
	width:100%;
	height:200px;
}
#content .box-new .body .item-news .title {
	font-weight:bold;
	font-size:16px;
	margin-top:10px;
	margin-left:10px;
}
#content .box-new .body .item-news .title a {
	text-decoration:none;
}
#content .box-new .body .item-news .excerpt {
	text-indent:30px;
}
#content .box-new .body .item-news a.readmore {
	position:absolute;
	bottom:10px;
	right:10px;
	color:#F30;
}
#content .box-new .body .list-icon-image img {
	width:100px;
	height:80px;	
	margin-left:25px;
}
#content .box-new .body .list-icon-image img:hover {
	border:2px solid #999;
	border-radius:5px 5px 5px 5px;
}
.box-title {
	width:100%;
	height:40px;
	line-height:40px;
	background-image: url(../images/background-menu-item-hover.png);
	background-repeat:repeat;
	background-position:left top;
	border-radius:3px;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
	color:#FFF;
	font-size:18px;
}

	/*finish css for content*/
	/*css for footer*/
#footer{
	width:100%;
	height:auto;
	min-height:150px;
	background-image:url(../images/backgound-foooter.png);
	background-repeat:repeat;
	background-position:left top;
	color:#CCC;
}
#footer .copy-right {
	margin:auto;
	text-align:center;
	color:#FFF;
	position:absolute;
	top:60px;
}
#footer .footer-menu {
	width:100%;
	text-align:center;
	margin:auto;
	height:40px;
	background-image:url(../images/background-footer-menu.png);
}
	/*finsish css for footer*/
	
	/*sidebar-right*/
.sidebar-right{
	padding:10px 10px;
	width:100%;
	border-left:1px solid #E7E6E2;
	margin-top:-20px;
	position:relative;
	display:block;
}
.sidebar-right ul.list {
	list-style:circle;
	margin-left:-40px;
}
.sidebar-right ul.list li {
/*	padding:10px 0px; */
	list-style:none;
/*	border-bottom:1px dashed #CCC; */
}
.sidebar-right ul.list li img {
	border-radius:50%;
	float: left;
	width:50px !important;
	height:50px !important;
	transition:all 500ms;
	-moz-transition:all 500ms;
	-ms-transition:all 500ms;
	-o-transition:all 500ms;
	-webkit-transition:all 500ms;
}
.sidebar-right ul.list li:hover img {
	/*
	transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	*/
}
.sidebar-right ul.list li a {
	display: block;
  	padding-top: 15px;
}
ul.ul {
	margin-left:-40px;
}
ul.ul li {
	line-height:30px;
	color:#FFF;
	list-style:none;
}
ul.ul li a {
	color:#CCC;
	font-size:12px;
}
	/*finish css for sidebar-right*/
h4.title {
	font-size:14px; 
	font-weight:bold;
	margin:0px;
	padding:0px;
	padding:10px; 10px;
	padding-left:0px;
	margin-left:-30px;
}
ul.item-quote {
	margin-left:-40px;
}
ul.item-quote li {
	transition:all 400ms;
	-moz-transition:all 400ms;
	-ms-transition:all 400ms;
	-o-transition:all 400ms;
	-webkit-transition:all 400ms;
	list-style:none;
}
ul.item-quote li > a {
	display: block;
	padding-top: 15px;
}
ul.item-quote li > a img {
	float: left;
	margin-top: -15px;
	padding-top: 5px;
	width: 70px;
	height: 50px;
	padding-right: 10px;
}
.clear {
	clear:both;
}
ul.item-quote li:hover {
	opacity:0.5;
}
#footer .item {
	width:250px;
	margin-left:50px;
	margin-top:30px;
	margin-bottom:30px;
	float:left;
	padding:10px 10px;	
	box-shadow:0px 0px 4px #FFFFFF;
	overflow:hidden;
	display:block;
	position:relative;
	min-height:226px;
}
#footer .item:last-child {
	width:400px;
}
#footer .item .title {
	font-size:18px;
	text-transform:uppercase;
	border-bottom:1px solid #999;
	padding-bottom:5px;
	margin-top:10px;
}
#footer .item ul.list {
	margin-left:-10px;
	list-style:url(../images/icon-bottom-right.png);
}
#footer .item ul.list li {
	padding-left:5px;
	vertical-align:central;
	padding-top:3px;
	padding-bottom:3px;
}
#footer .item ul.list li h2{ 
	font-size:12px;
	padding-bottom:5px;
	margin-top:10px;
	margin:0px;
}
#footer .item ul li a {
	color:#CCC;
	font-size:12px;
	text-decoration:none;
}
#footer .item ul li a:hover {
	color:#FFF;
}
#footer .item .footer-icon {
	width:30px;
	height:20px;
	padding-right:5px;
	margin-top:4px;
	margin-bottom:4px;
}
.clear {
	clear:both;
}